<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="custom-content">
    <p>Beste <span th:text="${account.firstName}"></span>,</p>
    <p>Je account werd successvol geactiveerd.</p>
    <p><b>Toch nog even dit.</b> Door deze account aan te maken ben je nog geen officieel lid van de vereniging SVK. <a
            th:href="@{https://docs.google.com/forms/d/e/1FAIpQLSdZMi4_zKrUmNAF2VSr6vCdusVEsQRcmcIW6BENMMtkTvDfIQ/viewform(entry_2065562578=${account.lastName}, entry_1592259159=${account.firstName}, entry_783685446=${account.lastName},entry_1308952093=${account.username}, entry_1592259159=${account.firstName}, entry_1670295348='Voetbal', entry_333429332='Ja', entry_1584517526='Neen, ga naar bevestigingspagina', entry_701772723='Man')}"
            target="_blank">Schrijf je in bij SVK</a> om officieel lid te worden. Vergeet ook niet elk jaar <i>je
        lidgeld te betalen</i>. Indien je deze twee stappen overslaat, <b>ben je niet verzekerd door SVK.</b></p>
    <p>Mvg,</p>
    De SVK voetbal admin
    <hr>
    <p>Dear <span th:text="${account.firstName}"></span>,</p>
    <p>Your account was succesfully activated.</p>
    <p><b>Another thing.</b> By creating this account you are not yet an official member of the SVK association. <a
            th:href="@{https://docs.google.com/forms/d/e/1FAIpQLSdZMi4_zKrUmNAF2VSr6vCdusVEsQRcmcIW6BENMMtkTvDfIQ/viewform(entry_2065562578=${account.lastName}, entry_1592259159=${account.firstName}, entry_783685446=${account.lastName},entry_1308952093=${account.username}, entry_1592259159=${account.firstName}, entry_1670295348='Voetbal', entry_333429332='Ja', entry_1584517526='Neen, ga naar bevestigingspagina', entry_701772723='Man')}"
            target="_blank">Register with SVK</a> to become an official member. Do not forget <i>to pay your membersip
        fee every year</i>. If you dont register and pay your fee, <b>you are not insured by SVK.</b></p>
    <p>Kind regards,</p>
    The SVK football admin
</section>

</body>
</html>