<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="custom-content">
    <p>Beste <span th:text="${account.firstName}"></span>,</p>
    <p>Je account werd successvol geactiveerd.</p>
    <p><b>Toch nog even dit.</b> Door deze account aan te maken ben je nog geen officieel lid van de vereniging SVK. <a
            th:href="@{https://www.svk-oh.be/lidgeld}"
            target="_blank">Schrijf je in bij SVK</a> om officieel lid te worden. Vergeet ook niet elk jaar <i>je
        lidgeld te betalen</i>. Indien je deze twee stappen overslaat, <b>ben je niet verzekerd door SVK.</b></p>
    <p>Mvg,</p>
    De SVK voetbal admin
    <hr>
    <p>Dear <span th:text="${account.firstName}"></span>,</p>
    <p>Your account was succesfully activated.</p>
    <p><b>Another thing.</b> By creating this account you are not yet an official member of the SVK association. <a
            th:href="@{https://www.svk-oh.be/lidgeld}"
            target="_blank">Register with SVK</a> to become an official member. Do not forget <i>to pay your membersip
        fee every year</i>. If you skip these two steps, <b>you are not insured by SVK.</b></p>
    <p>Kind regards,</p>
    The SVK football admin
</section>

</body>
</html>
