<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Hey <span th:text="${account.firstName}"></span>,</p>
<p>Je ploegmaten hebben gemerkt dat je de doodle voor de volgende match nog niet hebt ingevuld. We
    zijn momenteel nog niet met 11, en ja we winnen graag.</p>
<p>Ga dus even naar <a th:href="@{${baseUrl}/doodle}">de doodle</a> en bedankt om deze even in te vullen!</p>
<p>Groetjes!</p>
<p>De 12e man van SVK</p>
<hr>
<p>Dear <span th:text="${account.firstName}"></span>,</p>
<p>Your teammates have noticed you did not fill in the doodle for the next match! We do not have 11 players yet and yes,
    we would like to win.</p>
<p>So please go to <a th:href="@{${baseUrl}/doodle}">the doodle</a> and thank you for filling it in!</p>
<p>Greetings,</p>
<p>The 12th SVK player</p>

<p><i>Je kan deze waarschuwingen uitzetten door je profielopties te wijzigen.</i></p>
<p><i>You can disable these notifications by changing your profile settings.</i></p>
</body>
</html>