<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="custom-content">
    <p>Hey <span th:text="${account.firstName}"></span>,</p>
    <p>Vanaf nu kan je je inschrijven voor de bovenstaande match.</p>
    <p>Ga dus even naar <a th:href="@{{url}/doodles(url=${baseUrl})}">de doodle</a> en bedankt om deze even in te
        vullen!
    </p>
    <p>Groetjes!</p>
    <p>De 12e man van SVK</p>
    <hr>
    <p>Dear <span th:text="${account.firstName}"></span>,</p>
    <p>You can fill in the doodle for the match above.</p>
    <p>So please go to <a th:href="@{{url}/doodles(url=${baseUrl})}">the doodle</a> and thank you for filling it in!</p>
    <p>Greetings,</p>
    <p>The 12th SVK player</p>

    <p><i>Je kan deze waarschuwingen uitzetten <a
            th:href="@{{url}/accounts/profile/edit/{id}(url=${baseUrl}, id=${account.id})}">door je profielopties te
        wijzigen</a>.</i></p>
    <p><i>You can disable these notifications <a
            th:href="@{{url}/accounts/profile/edit/{id}(url=${baseUrl}, id=${account.id})}">by changing your profile
        settings</a>.</i></p>
</section>
</body>
</html>
