<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="custom-content">
<p>Beste <span th:text="${account.firstName}"></span>,</p>
    <p>Klik <a th:href="@{{url}/password/recovery(code=${code},email=${account.username}, url=${baseUrl})}"
               th:text="hier"></a> om een nieuw wachtwoord aan te maken.</p>
<p>Mvg,</p>SVK
<hr>
<p>Dear <span th:text="${account.firstName}"></span>,</p>
    <p>Click on <a th:href="@{{url}/password/recovery(code=${code},email=${account.username}, url=${baseUrl})}"
                   th:text="here"></a> to create a new password.</p>
<p>Kind regards,</p>
SVK
</section>
</body>
</html>